.App {
  display: block;
  margin: 25px 20px 25px 20px;
  padding: 15px;
  border: #033768 solid 2px;
}

.App h1 {
  color: blue;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App form {
  display: block;
  margin: 15px auto;
  padding: 5px;
  text-align: center;
}

.App #actual {
  font-size: 50px;
  color: blue;
  text-align: center;
}

.App #stats {
  font-size: 20px;
  color: blue;
}

.App link {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

ul {
  list-style: none;
}
